@import './common/color';
@import './common/fonts';
@import './common/sizefonts';
@import './common/querys';
@import './common/common';
@import '../../node_modules/@material/animation/variables';


/******************************HEADER*/
.header {
  height: 100vh;
  //padding: -2.3em 0  5em 0;
  position: relative;
  top:-50px;

  @media (max-width: $breakpoint-cellphone) {
    height: 95vh;
    padding: 0;
  }
}

/******************************SECTION 02*/
.section02 {
  background-color: $white;
  padding-top: 2em;
  h3 {
    color: $gray;

    &:nth-of-type(2n) {
      padding-top: 2em;
      padding-bottom: 0;
    }
  }

  h2 {
    font-weight: bold;
    margin-bottom: 1.5em;
  }

  #only-today{
    font-size: 31px;
    font-weight: lighter;
  }
}

/*******************************FOOTER*/
footer {
  padding: 2.3em 0;
  background-color: rgba(255, 255, 255, 0.8);

  h2 {
    font-weight: bold;
    margin-bottom: 1em;
  }

  .social-media {
    font-size: $h3Desktop;
    text-align: center;
    display: flex;
    justify-content: flex-end;

    span {
      transition: all 0.5s;
      margin: 0 0.2em;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }

    @media (max-width: $breakpoint-cellphone) {
      justify-content: center;
    }
  }
}


/*******************************SPINNER*/
.SpinnerPage {
  height: 100vh;
  background-color: lighten($gray, 10%);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 0 auto;
  font-size: 10px;
  position: relative;
  top: 40vh;
  text-indent: -9999em;
  border-top: 1.1em solid $gray;
  border-right: 1.1em solid $gray;
  border-bottom: 1.1em solid $gray;
  border-left: 1.1em solid $green;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*******************************NAVBAR*/
.NavBar__Brand {
  h3 {
    padding: 0;
    margin: 0;
    color: $gray;
    cursor: pointer;
  }
}

.navbar-showup {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  transition: top 0.6s;
  background-color: $white !important;
}

.navbar--hidden {
  top: -50px;
}


.pageNotFound{
  height: 98vh;
  background-color: $gray;
}