@import './color';
@import './fonts';
@import './querys';
@import './sizefonts';

h1 {
  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-family: $verdana;
  font-weight: bold !important;
  font-size: $h1Desktop;

  @media (max-width: $breakpoint-cellphone) {
    &:first-of-type {
      font-size: $h1Cellphone;
      padding: 1em 0 0 0;
    }

    font-size: calc($h1Cellphone + 1vw);
    padding: 0 0 1em 0;
  }

  @media (min-width: $breakpoint-cellphone+1) {
    &:first-of-type {
      font-size: $h1Desktop !important;
      padding: 1.5em 0 0 0;
    }

    font-size: calc(1.425rem + 2vw) !important;
    padding: 0 0 1.5em 0;
  }
}

h3 {
  &:first-of-type {
    padding-top: 1em;
    font-weight: bold !important;
  }

  text-align: center;
  text-transform: uppercase;
  color: $white;
  font-family: $arial;
  font-size: $h3Desktop;
  padding-bottom: 0.8em;

  @media (max-width: $breakpoint-cellphone) {
    font-size: $h3Cellphone;
  }

  @media (min-width: $breakpoint-cellphone+1) and (max-width: $breakpoint-tablet) {
    font-size: $h3Tablet;
  }

  span {
    color: $green;
  }
}

.btn__shop {
  background-color: $green;
  margin: 1em 3em;
  padding: 1em;
  transition: all 0.2s;
  border: none;

  &:hover {
    transform: scale(1.05);
  }

  h3 {
    color: $gray;
    padding: 0;
    margin: 0;
    font-size: $h4Desktop;
    font-weight: bold !important;
  }
}

img {
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

/*
h2 {
  text-align: center;
  text-transform: capitalize;
  color: $white;
  font-family: $verdana;
  font-weight: 500;
  font-size: $h2Desktop;
  padding-bottom: 1em;

  @media (max-width: $breakpoint-cellphone) {
    font-size: $h2Cellphone;
  }

  @media (min-width: $breakpoint-cellphone+1) and (max-width: $breakpoint-tablet) {
    font-size: $h2Tablet;
  }
}

h3 {
  &:first-of-type {
    color: $green;
  }

  text-align: center;
  text-transform: capitalize;

  font-family: $verdana;
  font-weight: 500;
  font-size: $h3Desktop;
  padding-bottom: 0.5em;

  @media (max-width: $breakpoint-cellphone) {
    font-size: $h3Cellphone;
  }

  @media (min-width: $breakpoint-cellphone+1) and (max-width: $breakpoint-tablet) {
    font-size: $h3Tablet;
  }
}

h4{
  text-align: center;
  text-transform: capitalize;
  color:$gray;
  font-family: $work;
  //font-weight: 500;
  font-size: $h4Desktop;

  @media (max-width: $breakpoint-cellphone){
    font-size: $h4Cellphone;
  }


  @media (min-width: $breakpoint-cellphone+1) and (max-width: $breakpoint-tablet){
    font-size: $h4Tablet;
  }

}

p,span, label {
  text-align: center;
  text-transform: capitalize;
  color:$gray;
  font-family: $work;
  //font-weight: 500;
  font-size: $pDesktop;

  @media (max-width: $breakpoint-cellphone){
    font-size: $pCellphone;
  }


  @media (min-width: $breakpoint-cellphone+1) and (max-width: $breakpoint-tablet){
    font-size: $pTablet;
  }

}

input{
  border-radius: 32px !important;
  font-family: $work;
  padding: 0.5em 1.9em;
  border: none;
  font-size: $pDesktop;
  margin: 1em;
  color:$gray;

}


button{
  color:white;
  border-radius: 32px !important;
  font-size: $pDesktop;
  font-family: $work;
  background-color: $gray;
  transition: all 0.8s;
  padding: 0.4em 1.9em;
  border: none;


  @media (max-width: $breakpoint-cellphone){
    font-size: $pCellphone;
  }

  @media (min-width: $breakpoint-cellphone+1) and (max-width: $breakpoint-tablet){
    font-size: $pTablet;
  }

  &:hover{
    transform: scale(1.05);
    background-color: darken($gray,5%);
  }
}




.btn-swipe{
  background-color: $lightOrange;

  &:hover{
    background-color: $lightOrange;
  }
}*/
