
/*H1*/
$h1Desktop: 50.07px;
$h1Tablet: 45px;
$h1Cellphone: 40px;
$h1maxDesktop: 54.4px;
$h1maxTablet: 50px;
$h1maxmaxCellphone: 48px;

/*h2*/
$h2Desktop: 35px;
$h2Tablet: 32px;
$h2Cellphone: 26px;

/*h3*/
$h3Desktop: 35.54px;
$h3Tablet: 30px;
$h3Cellphone: 23px;

/*h4*/
$h4Desktop: 30px;
$h4Tablet: 25px;
$h4Cellphone: 25px;


/*p*/
$pDesktop: 16px;
$pTablet: 16px;
$pCellphone: 16px;