/*H1*/
$h1Desktop: 2.7rem;
$h1Tablet:1.5em;
$h1Cellphone: 2em;


/*h2*/
$h2Desktop: 2em;
$h2Tablet:1.5em;
$h2Cellphone: 0.6em;

/*h3*/
$h3Desktop: 1.1em;
$h3Tablet:0.8em;
$h3Cellphone: 0.9em;

/*h4*/
$h4Desktop: 1.5em;
$h4Tablet:1.5em;
$h4Cellphone: 0.7em;


/*p*/
$pDesktop: 1em;
$pTablet:1.5em;
$pCellphone: 0.7em;